
* {
margin: 0;
padding:0;
border:0;
}
body {
  font-family: Roboto, sans-serif;
  min-height: 100vh; 
  margin-top: 0;
  /*padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;*/
  display:flex;
  flex-flow:column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}



  .first { 
    
    padding-top: 10px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 60px;


    flex:1;
    background-color: #1f2937;
    display:flex;
    flex-flow:column nowrap;
  
  }

    .header {
 
      flex:1;
      margin-bottom: 50px;
      display:flex;
      flex-wrap:nowrap;
      justify-content: space-between;
      align-items: center;
    }

        .logo {
          flex: 1;
          font-size: 24px;
          color: #f9faf8;
          font-weight: 700;
        }
        
        .header-links {
          flex:1;
          
        
        }
          ul {
           margin:0;
           padding:0; 
           display:flex;
           justify-content: flex-end;
          }

            li { 
              flex: 1 0 0;
             text-align: right;
              list-style: none;
              padding:0;
              margin:0;
            
            }

            a {   
              text-decoration: none; 
              font-size: 18px;
              color: #e5e7eb;
            } 

    .hero {
      flex:1;
      display:flex;
      justify-content: space-between;
      gap: 50px;
    }
      .left {
        flex: 1 0 0;
        margin-top: 0;
        color: #f9faf8;
        display: flex;
        flex-flow: column wrap;
      }
        .left .titulo{
          flex:1;
        }
          .left .titulo h1{
            font-size: 48px;
            font-style: extra-bold;
            margin: 0;
          }
        .left .texto{
          flex:1;
        }

        .left .texto p{
          font-size: 18px;
          line-height: 1.6;
          color:#e5e7eb;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      
        .botonhero{

          flex:1;
          display:flex;
          align-items: flex-start;
          
        }

        .botonhero button {
         
          background-color: #3882f6;
         
          border-color:#f9faf8;
          border-style: solid;
          border-width: 2px;
          height: 30px;
          width: 120px;
          
          border-radius: 6px;
          padding: 5px;
        }
        .botonhero a {
          width:100%;
          font-size: 16px;
          color:#f9faf8;
          font-weight: 800;
        }
        
        
      .right {
        flex: 1 0 0;
        background-color: #e5e7eb;
        /*display:flex;
        margin: 10px 20px;
        justify-content: center;
        align-items: center;*/
        display:inline-block;
        padding:5px;
        box-sizing: border-box;
      }
      .right img {
        /*flex:1;*/
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      .right p {
        flex:1;
        text-align: center;
      }

  .second {
    margin-top: 30px;
    padding: 0 15%;
    flex:1;
    display: flex;
    flex-flow: column nowrap;
  }
    .titulo-second{
      flex:1;
    }
    h2 {
    font-size: 36px;
    font-style: extra-bold;
    text-align: center;
    color:#1f2937;  
    }
  
    .contenedor-cajas{
      flex: 1;
      display: flex;
      margin-top: 50px;
      margin-bottom: 100px;
      padding: 0 120px;
      flex-flow: row wrap;
      /*justify-content: space-between;*/
      gap: 20px;
    }
    .caja { 
      flex:1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
    .cuadro-imagen{
      /* width: 80px;
      height: 80px; */
      flex: 1;
     
    }

    .imagen {
      flex: 1;
      width: 120px;
      height: 120px;
      border-width: 3px;
      border-style: solid;
      border-color: #3882f6;
      border-radius: 8px;
    }

    .pie {
      flex:1;
      width: 120px;
    }
    .pie p{
      font-size: 16px;
      line-height: 1.4;
      color: #1f2937;
      margin: 6px 0 0 0;
      text-align: justify;
      font-weight: 400;
    }

  .third{
    flex: 1;
    background-color: #e5e7eb;
    padding: 5% 15%;
  }  
    blockquote {
      font-size: 36px;
      line-height: 1.3;
      font-style: italic;
      font-weight: 100;
      color: #1f2937;
      text-align: justify;
    }

    .firma {
      text-align: right;
      font-weight: 700;
      font-size: 24px;
      padding: 20px;
    }





  .accion {
    flex:1;
    padding: 20px 15% 20px 15%;
    /*display: flex;*/
  }
    .cajaazul {
      /*flex:1;*/
      background-color: #3882f6;
      padding: 6% 7%;
      margin-top: 50px;
      margin-bottom: 50px;
      border-radius: 15px;
      display:flex;
    }
  
    .texto{
      flex:3;
      display:flex;
      flex-direction: column;
    }

    .boton {
     flex:1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0 10% 0 10%;
    }
    
    .boton button {
      flex:1;
      background-color: #3882f6;
      color:#f9faf8;
      border-color:#f9faf8;
      border-style: solid;
      border-width: 2px;
      padding: 15px;
      width: 120px;
      font-size: 16px;
      border-radius: 6px;
      /*padding: 5px;*/
    
    }

  
  .boton button a {
    width:100%;
    height: 100%;
    font-size: 16px;
    color:#f9faf8;
    font-weight: 800;
  }
  
    .texto h3{
      color:#f9faf8;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .texto p {
      color: #e5e7eb;
      font-size: 18px;
    }
    
    .ultimo {
      background-color: #1f2937;
      width: 100%;
      padding: 2% 0;
    }
    .ultimo p {  
      color: #e5e7eb;
      text-align: center;
      font-size: 18px;
    }